@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", "sans-serif";
  overflow-y: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.burger div {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 4px;
  padding: 2px 15px;
}
.burger {
  padding: 5px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
.logo {
  display: flex;
  align-content: center;
  padding: 3px;
  align-items: center;
}
img {
  width: 50px;
  padding: 2px;
}
.menu {
  display: none;
  transition: display 0.7s ease-in-out;
}
.show-menu {
  display: block;
}
.menu li {
  list-style: none;
}
.menu a {
  padding: 10px 24px;
  text-decoration: none;
  background-color: rgba(0, 90, 163, 0.6);
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out;
  box-shadow: 5px 5px rgb(0, 90, 163);
}
.menu a:focus {
  outline: none;
}
.menu a:hover {
  background-color: rgb(0, 90, 163);
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 180px;
  padding-bottom: 150px;
  background-image: url(../img/vector.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30% 70%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 5px;
}
.title-header {
  width: 55%;
  padding-left: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
#wellcome {
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-weight: 700;
  color: rgb(70, 130, 180);
  line-height: 2.5rem;
  text-transform: capitalize;
  font-size: 2rem;
}
#title {
  padding-left: 3px;
  padding-top: 10px;
  margin-top: 3px;
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 2.5rem;
  color: rgb(70, 130, 180);
  text-transform: capitalize;
  font-size: 2rem;
}
#wrapper {
  padding-left: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 2.5rem;
  color: rgb(70, 130, 180);
  text-transform: capitalize;
  font-size: 2rem;
}
#wrapper span {
  text-transform: uppercase;
}
.btn-wrapper {
  width: 55%;
  margin: 0 auto;
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 7px;
  align-items: center;
  padding-right: 7px;
}
.btn {
  display: flex;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
}
.more {
  background-color: rgba(0, 90, 163, 0.6);
  color: white;
  font-weight: 800;
  box-shadow: 5px 4px rgb(75, 75, 75);
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: rgb(0, 90, 163);
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px 10px;
  background-color: rgb(70, 130, 180);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-media {
  padding: 12px 0;
  padding-bottom: 15px;
}
.sosmed {
  padding: 12px;
}
.social-media a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.sosmed a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
}
footer .fa {
  display: inline-block;
  padding: 3px 5px;
}

/* media query 1000px */
@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  body {
    overflow: auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 80px;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .burger {
    display: block;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 150px 20px;
    align-content: center;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 200px 10px;
  }
  .title-header {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  #wellcome {
    font-size: 24px;
    line-height: 2.5rem;
    padding: 3px 0;
  }
  #title {
    font-size: 24px;
    line-height: 2.5rem;
    padding: 3px 0;
  }
  #wrapper {
    font-size: 24px;
    line-height: 2.5rem;
    padding: 3px 0;
  }
  .btn-wrapper {
    width: 100%;
    padding: 10px 40px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 3px 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
/* end media query 1000px */

/* media query 700px */
@media (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  body {
    overflow: auto;
  }
  .banner {
    align-items: center;
    width: 100%;
    padding: 150px 0px;
    background-size: 50% 50%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 80px;
  }
  .title-header {
    width: 100%;
    margin: 0 auto;
    padding: 3px 60px;
  }
  #wellcome {
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
  }
  #title {
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
  }
  #wrapper {
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
  }
  .btn-wrapper {
    width: 100%;
    margin: 5px auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  .btn {
    display: inline-block;
    padding: 5px 10px;
  }
}
/* end media query 700px */

/* media query 600px */
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    overflow: auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 40px;
  }
  .banner {
    width: 100%;
    padding: 159px 0px;
    background-position: right;
    background-size: 50% 50%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .title-header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  #wellcome {
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
  }
  #title {
    padding: 3px;
    font-size: 16px;
    line-height: 0.5em;
  }
  #wrapper {
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
  }
  .btn-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .btn {
    display: inline-block;
    padding: 5px 10px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .social-media {
    padding: 3px;
    margin-right: 5px;
  }
  .sosmed {
    padding: 3px;
  }
  .social-media a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  .sosmed a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  footer .fa {
    font-size: 14px;
    display: inline-block;
    padding: 3px 2px;
  }
}
